mixin header
	div#topmenu
	div#wrapper
		div#header
	div#menu
			ul
				li 
					a( href= '/') INDEX
				li 
					a( href= '/teams/') TEAMS
				li 
					a( href= '/results/') RESULTS
				li
					a( href= '/matches/') MATCHES
