doctype html
html
	head
		meta(charset="utf-8")
		title= title
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/css/nv.d3.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Raleway:400,700')
		script(type ="text/javascript" src="../d3.js")
		script(type ="text/javascript" src="../nv.d3.js")
	body
		block content