include header
include footer

extends layout
block content
	div#screencontainer
		div#content
			+header()
			div#wrapper
				div#leftcontainer
				div#rightcontainer
					div#upcomingmatches
						div.contentlargeheader
							h1 MODULE 1
					div#upcomingmatches
						div.contentlargeheader
							h1 MODULE 2
					div#ad1(style='background-image:url("/img/v1.png")')
	+footer()
