
body {
 	padding: 0;
 	margin: 0;
 	font: 15px "AvantGarde Bk Bt", sans-serif;
	background-color: #0B0B0B;
 	color: #E5E5E5;
}

a {

	color: #E5E5E5;
}

a:hover
{
	color: #018FFD;
	text-decoration: underline;

}

h1, h2, h3, h4, p

{
	margin: 0;
	padding: 0;
	color: #F8F8F8;
}

h2
{
	font-size: 25px;
}

ul
{
	margin: 0;
}

.contentdarkheader {
	background-color: #11141B;
	height: 30px;
	color: white;

}

.contentlargeheader {
	background-color: #0073C6;
	height: 30px;
	color: white;

}

.contenthugeheader {
	background-color: #0073C6;
	height: 52px;
	color: white;

}

.contentdarkheader h1 {
	font-size: 19px;
	line-height: 30px; 
	font-weight:500;
	padding-left: 6px;
	margin: 0;
}

.contentlargeheader h1 {
	font-size: 16px;
	line-height: 30px; 
	font-weight:500;
	padding-left: 6px;
	margin: 0;
}

.contenthugeheader h1 {
	font-size: 27px;
	line-height: 52px; 
	font-weight:700;
	padding-left: 14px;
	margin: 0;
}


#topmenu
	{
		height:35px;
		background-color: #000000;
	}


html, body, #screencontainer { height: 100%; }
body > #screencontainer { height: auto; min-height: 100%; }

#content
{
	padding-bottom: 51px;
}

#wrapper
	{
		width: 1000px;
		margin: 0 auto;
	}


#header
	{
		height: 77px;
		background-image:url("/img/t1.png");
		background-repeat:no-repeat;
		background-position: left center;
		
	}

#footer
	{
		clear:both;
		position: relative;
		z-index: 10;
		height: 51px;
		margin-top: -51px;
		background-image:url("/img/ftbg.png");
		background-repeat: repeat-x;
		
	}

#footer ul
{
	float:right;
}

#footer img
{
	padding-left: 40px;
}

#footer ul li { 
	display: inline;
	padding-right: 20px;
	line-height: 51px;
}
#menu
	{
		height: 47px;
		background-image:url("/img/mbg1.png");
		background-repeat: repeat-x;
		margin: 0 0 ;
		padding: 0 0;
	}
#menu ul
	{
		list-style-type: none;
		font-size: 20px;
		padding-right: 520px;
		padding-left: 6px;
		text-align: center;
		margin: 0 0 ;
	}

#menu ul li { 
	display: inline;
	padding-right: 55px;
	line-height: 47px;
}

#menu ul li a 	{
	text-decoration: none;
	color: #E7E7E7;
}

#menu ul li a:hover {
	 color: #018FFD;
	text-decoration: underline;
}
#screencontainer
{
	min-height:100%;
	width: 100%;	
}


#leftcontainer
{
	margin-top: 21px;
	float: left;
	width:760px;
	padding-bottom:51px;

}
#rightcontainer
{
	margin-top: 21px;
	float: right;
	width: 160px;
	margin-right:50px;

}

.contentlarge
{
	margin-bottom: 21px;
}


#path
{
	padding-bottom: 11px;
}

#path h1 a, h1
{
	font-size: 17px;
	text-decoration: none;
	font-weight: 500;
}

#path h1 a
{
	padding-right: 6px;
	padding-left: 6px;
}



#newsheader
{
	width: 100%;
	height: 300px;
	
}
#upcomingmatches
{
	background-color: #151515;
	margin-bottom: 21px;
	height: 150px;
}

.contentlarge table
{
	width: 100%;
}

.darkgreybg
{
	background-color: #11141B;
}
th
{

	color: #B38900;
	font-weight: normal;
	font-size: 12px;
}

td, th
{
	text-align: left;
	padding-left: 6px;
	height: 30px;
}
.teamname
{
	text-align: left;
	padding-left: 20px;
}
table a
{
	text-decoration:none;

}
table
{
	border-collapse: collapse;
}
.white
{
	color: #E5E5E5;
}
.red
{
	color: #841400;
}

.blue
{
	color: #018FFD;
}

.green
{
	color: #1A8302;
}

.gold
{
	color: #B48B00;
}

.grey
{
	color:#A4A4A4;
}

.lb
{
	color: #88CBFF;
}

.dblue
{
	color: #0272C6;
}

#teamlist tr:nth-child(even), #teamlineup tr:nth-child(even),  #teammatches tr:nth-child(even) td{
	background-color: #131313;
}

.center
{
	text-align: center;
}
#feature
{
	float: left;
	height:299px;
	width:460px;
	background-repeat: no-repeat;
}

#featureright
{
	float: right;
	height:139px;
	width:281px;
	background-repeat: no-repeat;
	padding-top:20px;
}

#spotlightmatches
{
	height: 300px;

}

#spotlight
{
	float:left;
	width: 220px;
	height: 260px;
	margin-top: 10px;
	margin-right: 20px;
	background-image:url("/img/hotbg.png");
}

#spotlight h1, h2, h3, h4, p
{
	padding-left: 10px;
	font-size: 14px;
	font-weight: normal;
}

#spotlight h1
{
	font-size: 14px;
	padding-top: 10px;
}

#spotlight h2
{
	font-size: 22px;
	font-weight: bold;
}

#spotlight h3
{
	font-size: 22px;
	padding-top: 28px;
}

#spotlight img
{
	float: right;
	padding-right: 15px;
}

#spotlight p
{
	padding-top: 10px;
	font-size: 13px;
	color:#A4A4A4
}
#ad1
{
	border-style: solid;
	border-color: #151515;
	border-width: 1px;
	height:572px;
	background-repeat: no-repeat;
}

.bold
{
	font-weight: 700;
}

#matchlist table
{
	border-collapse: separate;
	border-spacing: 0 6px;
}
#matchlist tr
{
	background-color: #131313;

}
#matchlist th
{
	background-color: #0B0B0B;
}

#matchlist td
{
	text-align: center;
	padding: 0;
	margin: 0;
	height:47px;
	background-image:url("/img/mtablebg.png");
	background-repeat: repeat-x;
}

#teamvitals
{
	float: right;
}
#teamvitals table
{
	float:right; 
	width:400px;
	text-align: left;	

}

#teamlineup td
{
	text-align: left;
}
#teamvitals td

{
	height: 27px;
	text-align: left;
	background-image:url("/img/tvitalsbg.png");
	background-repeat: repeat-x;
}

#teambiotext
{
	padding: 18px;
	background-color: #131313;
}